@import 'tailwindcss';
@import 'tailwindcss/preflight.css' layer(base);

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --color-background: #ecebea;
    --color-text-important: #0d0d0d;
    --color-text-secondary: #424242;
    --color-text-description: #4d4d4d;
    --color-surface: #d0d0d0;
    --color-surface-subtle: rgba(226, 226, 226, 0.8);
    --color-theme-icon: #0d0d0d;

    --gradient-border-image: linear-gradient(
      270deg,
      #26262a 0%,
      rgba(130, 130, 144, 0.57) 100%
    );

    --radius-md: 16px;
    --radius-lg: 24px;
  }

  .dark {
    --color-background: #0d0d0d;
    --color-text-important: #ecebea;
    --color-text-secondary: #a1a1a1;
    --color-text-description: #959698;
    --color-surface: #26262a;
    --color-surface-subtle: rgba(24, 24, 27, 0.8);
    --color-theme-icon: #bfbfbf;

    --gradient-mobile-menu: linear-gradient(
      180deg,
      rgba(22, 22, 22, 0.9) 0%,
      rgba(0, 0, 0, 0.9) 100%
    );
    --gradient-border-image: linear-gradient(
      270deg,
      #26262a 0%,
      rgba(130, 130, 144, 0.57) 100%
    );
  }
}

@theme {
  --color-background: var(--color-background);
  --color-text-important: var(--color-text-important);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-description: var(--color-text-description);
  --color-surface: var(--color-surface);
  --color-surface-subtle: var(--color-surface-subtle);
  --color-theme-icon: var(--color-theme-icon);

  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 36px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border Radius */
  --border-radius-md: var(--radius-md);
  --border-radius-lg: var(--radius-lg);

  --max-width-main: 768px;

  --font-family-sans: var(--font-general-sans), sans-serif;
}
